Zombies/.vscode/*

Zombies/Logs/*

Zombies/Temp/*

Zombies/Library/*

Zombies/.DS_Store

.DS_Store

Zombies/.vs/*

.vs/

Library/*

Logs/*

Zombies/UserSettings/*

UserSettings/*

Zombies/obj/*

obj/*